{% extends '@SonataAdmin/Core/dashboard.html.twig' %}
{% block content%}
    <div class="row">
        <div class="col-md-12">
            {{  sonata_block_render({ 'type': 'sonata.block.service.numeros' }) }}
        </div>
    </div>
{% endblock %}